<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{#bd}}
    <p>Pokemon:</p>
    <p>
      Pokemon ID: {{ PokemonId }} | POKEMON NAME: {{ PokemonName }} || TYPE:
      {{ TypeNames }}
    </p>
    <p></p>
    {{/bd}}
    <br />
    <hr />
    <h1>Cadastrar Pokémon:</h1>
    <form id="pokemonRegister" action="/views/pokedex" method="POST">
      <label for="pokemonName">Nome: </label>
      <input type="text" id="pokemonName" name="name" />
      <select name="tipos" id="tipos">
        {{#tipos}}
        <option value="{{ name }}">{{ name }}</option>
        {{/tipos}}
      </select>
      {{! <label for="pokemonType">Tipo: </label>
      <input type="text" name="type" id="pokemonType" /> }}
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
